<!DOCTYPE html>
<html lang="en">
<head>
    <!-- HTMX CDN -->
    <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HRDC Inventory Management System</title>
</head>
<body>
    <h1>Inventory Management System</h1>
    <style>
        table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 24px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: $half-spacing-unit;
    text-align: center;
    border: 1px solid #CCCCCC;
}

th {
    background: black;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
}

tr:nth-child(even) {
    background: #EEEEEE;
}
    </style>
    <table>
        <tr>
            <th>Name</th>
            <th>Inventory</th>
            <th>Price</th>
            <th>Unit Type</th>
            <th>Ideal Stock</th>
            <th>Last Updated</th>
        </tr>
    {% for product in product_list %}
    <tr>
        <td>{{ product.product_name }} </td>
        <td>{{ product.inventory }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.unit_type }}</td>
        <td>{{ product.ideal_stock }}</td>
        <td>{{ product.last_updated }}</td>
    </tr>
    {% endfor %}
    </table>
    <button hx-post="/add"
    hx-trigger="click"
    hx-target="body"
    hx-swap="outerHTML">
    ADD STUFF
</button>
</body>
</html>