<!DOCTYPE html>
<html lang="en">

<head>
    <!-- HTMX CDN -->
    <script src="https://unpkg.com/htmx.org@2.0.4"
        integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
        crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HRDC Inventory Management System</title>
    <link rel="stylesheet" href="styles/index.css">
    <script src="scripts/index.js"></script>
</head>

<body>
    <h1>Inventory Management System</h1>

    <!--
        endpoint: the endpoing to hit to update (e.g., /update/<endpoint>/<id>)
        id: the product id (e.g., /update/<endpoint>/<id>)
        value: the current value to display
        param: the param/input name
        human_desc: a human-readable attribute name
    -->
    {% macro updatable_table_cell(endpoint, id, value, param, human_desc) %}
    <td>
        <span class="static">{{ value }}</span>
        <button onclick="toEditCell(this)" class="in-cell-action static hidden" title="Edit {{ human_desc }}">
            <img src="icons/pencil.svg" alt="Edit Icon" />
        </button>
        <form class="edit" style="display: none;" hx-patch="update/{{ endpoint }}/{{ id }}" hx-target="body">
            <input onkeypress="onInputEnter(this, event)" name="{{ param }}" value="{{ value }}"/>
            <button onclick="event.preventDefault(); toStaticCell(this);" class="in-cell-action" title="Cancel Changes">
                <img src="icons/close.svg" alt="Close Icon" />
            </button>
            <button type="submit" class="in-cell-action" title="Save {{ human_desc }}">
                <img src="icons/checkmark.svg" alt="Checkmark Icon" />
            </button>
        </form>
    </td>
    {% endmacro %}

    <table>
        <tr>
            <th>Name</th>
            <th>Inventory</th>
            <th>Price</th>
            <th>Unit Type</th>
            <th>Ideal Stock</th>
            <th>Last Updated</th>
            <th>Days Left</th>
            <th>Item History</th>
        </tr>
        {% for product in product_list %}
        <tr>
            <td>{{ product.product_name }} </td>
            {{ updatable_table_cell('inventory', product.get_id(), product.inventory, 'stock', 'Inventory Level') }}
            <td>{{ product.price }}</td>
            <td>{{ product.unit_type }}</td>
            <td>{{ product.ideal_stock }}</td>
            <td>{{ product.last_updated }}</td>
            {% if product.days_left == None %}
            <td>Added Recently</td>
            {% elif product.days_left <= 7 %}
            <td><u class="urgent_underline">{{ product.days_left }}</u></td>
            {% elif product.days_left > 7 and product.days_left <= 14 %}
            <td><u class="less_urgent_underline">{{ product.days_left }}</u></td>
            {% elif product.days_left >= 15 %}
            <td><u class="not_urgent_underline">{{ product.days_left }}</u></td>
            {% endif %}
            <td><a href="/inventory-history?product-id={{ product.get_id() }}">View</a></td>
        </tr>
        {% endfor %}
    </table>
    <div id="add_form">
        {% block content %}
        <button hx-get="/add" hx-trigger="click" hx-target="#add_form" hx-swap="outerHTML">
            ADD STUFF
        </button>
        {% endblock %}
    </div>

</body>

</html>