<!DOCTYPE html>
<html lang="en">

<head>
    <!-- HTMX CDN -->
    <script src="https://unpkg.com/htmx.org@2.0.4"
        integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
        crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HRDC Inventory Management System</title>
    <link rel="stylesheet" href="styles/index.css">
    <script src="scripts/index.js"></script>
</head>

<body>
    <a href="/"><- Back to Home</a>

    <h1>Inventory History - {{ product.product_name }} </h1>
    {% if snapshot_count==0 %}
        <h2>No history to show</h2>
    {% else %}
        {%if snapshot_count == 1 %}
            <h2>1 entry found</h2>
        {% else %}
            <h2>{{ snapshot_count }} entries found</h2>
        {% endif %}
        <h2>Entries in red are ignored</h2>
        {% if daily_usage is none %}
            <h2>Usage Rate: TBD</h2>
        {% else %}
            <h2>Usage Rate: {{ daily_usage }} per day</h2>
        {% endif %}
        {% if days_until_out is none %}
            <h2>Remaining Stock: TBD Days</h2>
            {% elif days_until_out == 1 %}
            <h2>Remaining Stock: 1 Day</h2>
            {% else %}
            <h2>Remaining Stock: {{ days_until_out }} Days</h2>
        {% endif %}

        <table>
            <thead>
                <tr>
                    <th>Timestamp</th>
                    <th>Inventory</th>
                    <th>Time Delta</th>
                    <th>Inventory Delta</th>
                </tr>
            </thead>
            <tbody>
                {% for snapshot in snapshots %}
                    <tr {% if snapshot.ignored %}style="background-color: red;"{% elif loop.index0==0 %}style="background-color: green;"{% endif %}>
                        <td>{{ snapshot.timestamp }}</td>
                        <td>{{ snapshot.inventory }}</td>
                        {% if loop.index0 == snapshot_count - 1 %}
                            <td>N/A</td>
                            <td>N/A</td>
                        {% else %}
                            <td>{{ snapshot.timestamp - snapshots[loop.index0 + 1].timestamp }}</td>
                            <td>
                                {% if snapshot.inventory - snapshots[loop.index0 + 1].inventory > 0 %}+{% endif %}{{ snapshot.inventory - snapshots[loop.index0 + 1].inventory }}
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
</body>

</html>